<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Shoes</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid top_br">
           <ul>
                <li class="dropdown_wish_new">
          <div class="dropbtn_wish_new">
            <div class="sonar-wrapper"><a href="#" class="btn_wish sonar-emitter"><i class="fa fa-heart" aria-hidden="true"></i>
          <div class="sonar-wave"></div>
        </a>
      </div>
  </div> 



<script type="text/javascript">
  $(".sonar-wave").on("webkitAnimationIteration oanimationiteration animationiteration", function(){
  $(this).css("background-color", colorize());
})

function colorize() {
  var hue = '#fff';
  return "HSL(" + hue + ",100%,50%)";
}
</script>






  <div class="dropdown-content_wish_new">
    <h3>YOUR WISHLIST (4)</h3>
  <ul>
   <li>
    <a href="#">
      <img src="img/1.png">
   <h4>Product Name</h4> 
<span><i class="fa fa-inr" aria-hidden="true"></i> <b>2,000</b></span>
</a>
</li>
   <li>
    <a href="#"><img src="img/2.png">
   <h4>Product Name</h4> 
<span><i class="fa fa-inr" aria-hidden="true"></i> <b>2,000</b></span>
</a>
</li>
 <li>
  <a href="#">
    <img src="img/3.png">
   <h4>Product Name</h4> 
<span><i class="fa fa-inr" aria-hidden="true"></i> <b>2,000</b></span>
</a>
</li> 
 <li>
  <a href="#">
    <img src="img/4.png">
   <h4>Product Name</h4> 
<span><i class="fa fa-inr" aria-hidden="true"></i> <b>2,000</b></span>
</a>
</li>
 <li>
  <a href="#">
    <img src="img/5.png">
   <h4>Product Name</h4> 
<span><i class="fa fa-inr" aria-hidden="true"></i> <b>2,000</b></span>
</a>
</li>
  </ul>
  <a href="#" class="goto">GO TO WISHLIST</a>
  </div>
  </li>
<script type="text/javascript">
$(".sonar-wave").on("webkitAnimationIteration oanimationiteration animationiteration", function(){
  $(this).css("background-color", colorize());
})

function colorize() {
  var hue = Math.random() * 360;
  return "HSL(" + hue + ",100%,50%)";
}
</script>






  <li><a href="#" class="btn_wish"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
           </ul>
         </div>
         <div class="container-fluid mid_nav">
            <div class="navbar-header col-md-4 col-xs-10">
               <a class="navbar-brand" href="#"><img src="img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse col-md-8 col-xs-2" id="myNavbar">

               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="#" class="login_btn " data-toggle="modal" data-target="#myModal">Login <i class="fa fa-user" aria-hidden="true"></i></a>
                  </li>

                  <li>
                     <div id="mySidenav" class="sidenav side_navn">
                        <a href="javascript:void(0)" class="closebtn " onclick="closeNav()">&times;</a>

                       <ul>
                       <li><a href="about.html">Footwear </a><i class="fa fa-chevron-down" aria-hidden="true" id="menu1"></i> 
                       </li>
                      <ul id="submenu1" class="submenuss" style="display: none;">
                        <li><a href="#">Caps & Hats</a></li>
                        <li><a href="#">Accessory Gift Sets</a></li>
                        <li><a href="#">Ties and Cufflinks</a></li>
                      </ul>
                     
                       <li><a href="about.html">Wallets </a><i class="fa fa-chevron-down" aria-hidden="true" id="menu2"></i></li>
                      <ul id="submenu2" class="submenuss" style="display: none;">
                        <li><a href="#">Caps & Hats</a></li>
                        <li><a href="#">Accessory Gift Sets</a></li>
                        <li><a href="#">Ties and Cufflinks</a></li>
                      </ul>
                      
                      <li><a href="about.html">Belts </a><i class="fa fa-chevron-down" aria-hidden="true" id="menu3"></i> </li>
                      <ul id="submenu3" class="submenuss" style="display: none;">
                        <li><a href="#">Caps & Hats</a></li>
                        <li><a href="#">Accessory Gift Sets</a></li>
                        <li><a href="#">Ties and Cufflinks</a></li>
                      </ul>
                     
                        </ul>
                        
                     </div>

               <script> 
$(document).ready(function(){
  $("#menu1").click(function(){
    $("#submenu1").slideToggle("slow");
  });
});
</script>
 <script> 
$(document).ready(function(){
  $("#menu2").click(function(){
    $("#submenu2").slideToggle("slow");
  });
});
</script>
 <script> 
$(document).ready(function(){
  $("#menu3").click(function(){
    $("#submenu3").slideToggle("slow");
  });
});
</script>




                     <span class="block animatable bounceInRight"style="font-size:45px;cursor:pointer" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true" style="border:none;"></i></span>
                    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "300px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>   
                  </li>
               </ul>
            </div>
         </div>
      </nav>

              <!-- Modal -->
  <div class="modal fade loginn" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      
        <div class="modal-body">

         <div class="col-md-12 login_form">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">LOGIN</a></li>
    <li><a data-toggle="tab" href="#menu1">SIGNUP</a></li>
 </ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
             <form action="/action_page.php" class="log_fm">
    <div class="form-group col-md-12">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group col-md-12">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      <a href="#" class="forgot_pas" id="show_forgot">Forgot password</a>
    </div>
     <div class="form-group col-md-12">
    <button type="submit" class="btn btn-default">Login Securely</button>
    <p class="trm_condi">By creating this account, you agree to our <a href="#">Terms & Conditions </a>&<a href="#"> Privacy Policy</a> .</p>
 </div>
  </form>
       <form action="/action_page.php" id="forgot" style="display: none;">
    <div class="form-group col-md-12">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      <a href="#" class="forgot_pas" id="hide_forgot">Login</a>
    </div>
   
     <div class="form-group col-md-12">
    <button type="submit" class="btn btn-default">Submit</button>
 </div>
  </form>
  <script>
$(document).ready(function(){
  $("#show_forgot").click(function(){
      $("#forgot").show();
    $(".log_fm").hide();
   
  });
});
</script>
  <script>
$(document).ready(function(){
  $("#hide_forgot").click(function(){
      $(".log_fm").show();
    $("#forgot").hide();
   
  });
});
</script>
</div>
<div id="menu1" class="tab-pane fade">
          <form action="/action_page.php">
    <div class="form-group col-md-6">
      <label for="email">First Name:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter first name" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Last Name:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter last name" name="email">
    </div>
     <div class="form-group col-md-12">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>

    <div class="form-group col-md-6">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
     <div class="form-group col-md-6">
      <label for="pwd">Confirm Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="form-group col-md-12">
      <label for="email">Contact Number:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter mobile no." name="email">
      <p class="trm_condi">By creating this account, you agree to our <a href="#">Terms & Conditions </a>&<a href="#"> Privacy Policy</a> .</p>
    </div>
     <div class="form-group col-md-12">
      <button type="submit" class="btn btn-default">Proceed</button>

    </div>
  </form>
</div>
</div>
         </div>
        </div>
      
      </div>
      
    </div>
  </div>
      <section class="slider_dv block animatable moveUp">
         <div class="container-fluid ">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="img/banner1.png" alt="Los Angeles" style="width:100%;">
                     <div class="carousel-caption">
                        <h3>MINIMAL. MODERN. FAST</h3>
                        <p>MOVE CITY FAST IN THE AIR ZOOM MARIAH.</p>
                     </div>
                  </div>
                  <div class="item">
                     <img src="img/banner1.png" alt="Chicago" style="width:100%;">
                     <div class="carousel-caption">
                        <h3>MINIMAL. MODERN. FAST</h3>
                        <p>MOVE CITY FAST IN THE AIR ZOOM MARIAH.</p>
                     </div>
                  </div>
                  <div class="item">
                     <img src="img/banner1.png" alt="New York" style="width:100%;">
                     <div class="carousel-caption">
                        <h3>MINIMAL. MODERN. FAST</h3>
                        <p>MOVE CITY FAST IN THE AIR ZOOM MARIAH.</p>
                     </div>
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="left carousel-control" href="#myCarousel" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#myCarousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </section>
      <section class="serch_row block animatable bounceInLeft">
         <div class="container">
            <div class="row">
               <form class="form-inline form_serch" action="/action_page.php">
                  <div class="form-group">
                     <select>
                        <option value="volvo">Category</option>
                        <option value="saab">Footwear</option>
                        <option value="mercedes">Wallets</option>
                        <option value="audi">Belts</option>
                     </select>
                     <input type="text" class="form-control" id="email"  name="email">
                     <button type="submit" class="btn btn-default">Search</button>
                  </div>
               </form>
            </div>
         </div>
      </section>
      <section class="category_dv">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 block animatable bounceInLeft">
                  <img src="img/women.jpg">  
                  <div class="col-md-12 cat_cl">
                     <h2>WOMEN</h2>
                     <p><a href="#">FOOTWEAR</a><a href="#">WALLETS</a><a href="#">BELTS</a></p>
                     <a href="#" class="shop_btn"><span>SHOP NOW</span></a> 
                  </div>
               </div>
               <div class="col-md-6 block animatable bounceInRight">
                  <img src="img/men.jpg">  
                  <div class="col-md-12 cat_cl">
                     <h2>MEN</h2>
                     <p><a href="#">FOOTWEAR</a><a href="#">WALLETS</a><a href="#">BELTS</a></p>
                     <a href="#" class="shop_btn"><span>SHOP NOW</span></a> 
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="ariv_slider">
         <div class="container">
            <h2 class="heading_page block animatable moveUp">New Arivals</h2>
            <div class="row block animatable bounceIn">
               <div id="carouselPlus" class="carousel slide multi-carousel" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/3.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/4.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/1.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/5.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/4.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/5.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/3.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/1.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselPlus" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselPlus" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                  <span class="sr-only">Next</span>
                  </a>      
               </div>
            </div>
         </div>
         <div id="lg" class="d-none d-lg-block"></div>
         <div id="md" class="d-none d-md-block d-lg-none"></div>
         <div id="sm" class="d-none d-sm-block d-md-none"></div>
         <script type="text/javascript">
            var $origin = $("#carouselPlus .carousel-inner").prop("outerHTML");
            function multiCarousel(){
            if ( $( "#lg" ).is( ":visible" ) ) {
              do {
                $( "#carouselPlus .carousel-inner" ).children( ".carousel-grid:lt(4)" ).wrapAll( "<div class=\"carousel-item\"><div class=\"row\"></div></div>" );
                $( "#carouselPlus .carousel-inner .carousel-item:first" ).addClass("active");
              } while ( $( "#carouselPlus .carousel-inner" ).children( ".carousel-grid" ).length );
            } else if ( $( "#md" ).is( ":visible" ) ) {
              do {
                $( "#carouselPlus .carousel-inner" ).children( ".carousel-grid:lt(3)" ).wrapAll( "<div class=\"carousel-item\"><div class=\"row\"></div></div>" );
                $( "#carouselPlus .carousel-inner .carousel-item:first" ).addClass("active");
              } while ( $( "#carouselPlus .carousel-inner" ).children( ".carousel-grid" ).length );
            } else {
              do {
                $( "#carouselPlus .carousel-inner" ).children( ".carousel-grid:lt(1)" ).wrapAll( "<div class=\"carousel-item\"><div class=\"row\"></div></div>" );
                $( "#carouselPlus .carousel-inner .carousel-item:first" ).addClass("active");
              } while ( $( "#carouselPlus .carousel-inner" ).children( ".carousel-grid" ).length);
            }
            }
            $(window).on( "load resize", function() {
            $.when(
              $( "#carouselPlus .carousel-inner" ).replaceWith( $origin ),
              multiCarousel()
            ).done(function() {
              $( ".multi-carousel" ).animate({opacity: "1"}, 1000);
            });
            });
         </script>
      </section>
      <section class="ariv_slider ariv_slider1">
         <div class="container">
            <h2 class="heading_page block animatable moveUp">Featured Products</h2>
            <div class="row block animatable bounceIn">
               <div id="carouselPlus1" class="carousel slide multi-carousel" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/3.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/4.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/1.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/5.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/1.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/3.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/2.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/4.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/5.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-grid col-lg-3 col-md-4 col-sm-12 ">
                        <div class="d-block w-100">
                           <div class="container_hv">
                              <img class="image_hv" src="img/4.png" alt="First slide">
                              <div class="overlay_hv">
                                 <div class="text_hv">
                                    <p>
                                       <a href="#" class="slct"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                       <a href="#" class="slct"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <p class="shop_nw"><a href="#">SHOP THIS</a></p>
                                 </div>
                              </div>
                           </div>
                           <div class="dlt">
                              <h3 class="prduct_title1">Product Title</h3>
                              <p class="price"><span><i class="fa fa-inr" aria-hidden="true"></i> 3000 </span> <i class="fa fa-inr" aria-hidden="true"></i> 2000</p>
                              <p class="size"><a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">8</a></p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselPlus1" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselPlus1" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                  <span class="sr-only">Next</span>
                  </a>      
               </div>
            </div>
         </div>
         <div id="lg" class="d-none d-lg-block"></div>
         <div id="md" class="d-none d-md-block d-lg-none"></div>
         <div id="sm" class="d-none d-sm-block d-md-none"></div>
         <script type="text/javascript">
            var $origin = $("#carouselPlus1 .carousel-inner").prop("outerHTML");
            function multiCarousel1(){
            if ( $( "#lg" ).is( ":visible" ) ) {
              do {
                $( "#carouselPlus1 .carousel-inner" ).children( ".carousel-grid:lt(4)" ).wrapAll( "<div class=\"carousel-item\"><div class=\"row\"></div></div>" );
                $( "#carouselPlus1 .carousel-inner .carousel-item:first" ).addClass("active");
              } while ( $( "#carouselPlus1 .carousel-inner" ).children( ".carousel-grid" ).length );
            } else if ( $( "#md" ).is( ":visible" ) ) {
              do {
                $( "#carouselPlus1 .carousel-inner" ).children( ".carousel-grid:lt(3)" ).wrapAll( "<div class=\"carousel-item\"><div class=\"row\"></div></div>" );
                $( "#carouselPlus1 .carousel-inner .carousel-item:first" ).addClass("active");
              } while ( $( "#carouselPlus1 .carousel-inner" ).children( ".carousel-grid" ).length );
            } else {
              do {
                $( "#carouselPlus1 .carousel-inner" ).children( ".carousel-grid:lt(1)" ).wrapAll( "<div class=\"carousel-item\"><div class=\"row\"></div></div>" );
                $( "#carouselPlus1 .carousel-inner .carousel-item:first" ).addClass("active");
              } while ( $( "#carouselPlus1 .carousel-inner" ).children( ".carousel-grid" ).length);
            }
            }
            $(window).on( "load resize", function() {
            $.when(
              $( "#carouselPlus1 .carousel-inner" ).replaceWith( $origin ),
              multiCarousel1()
            ).done(function() {
              $( ".multi-carousel" ).animate({opacity: "1"}, 1000);
            });
            });
         </script>
      </section>
      <section class="footer">
         <div class="container">
            <div class="col-md-3 block animatable bounceInLeft">
               <h3>Quick Link</h3>
               <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Condition</a></li>
                  <li><a href="#">Delivery and Shipping</a></li>
               </ul>
            </div>
            <div class="col-md-4 block animatable moveUp">
               <h3>Contact Us</h3>
               <p>Lorem Ipsum is simply dummy text<br>of the printing </p>
               <p>+91 564958398433</p>
               <p>email@gmail.com</p>
            </div>
            <div class="col-md-5 block animatable bounceInRight">
               <form class="form-inline" action="/action_page.php">
                  <div class="form-group">
                     <input type="email" class="form-control" id="email" placeholder="Enter your e-mail" name="email">
                     <button type="submit" class="btn btn-default">SUBSCRIBE</button>
                  </div>
               </form>
               <div class="col-md-12 social_f">
                  <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
               </div>
            </div>
         </div>
      </section>


 <script type="text/javascript">
    // Trigger CSS animations on scroll.
// Detailed explanation can be found at http://www.bram.us/2013/11/20/scroll-animations/

// Looking for a version that also reverses the animation when
// elements scroll below the fold again?
// --> Check https://codepen.io/bramus/pen/vKpjNP

jQuery(function($) {
  
  // Function which adds the 'animated' class to any '.animatable' in view
  var doAnimations = function() {
    
    // Calc current offset and get all animatables
    var offset = $(window).scrollTop() + $(window).height(),
        $animatables = $('.animatable');
    
    // Unbind scroll handler if we have no animatables
    if ($animatables.length == 0) {
      $(window).off('scroll', doAnimations);
    }
    
    // Check all animatables and animate them if necessary
    $animatables.each(function(i) {
       var $animatable = $(this);
      if (($animatable.offset().top + $animatable.height() - 20) < offset) {
        $animatable.removeClass('animatable').addClass('animated');
      }
    });

  };
  
  // Hook doAnimations on scroll, and trigger a scroll
  $(window).on('scroll', doAnimations);
  $(window).trigger('scroll');

});
  </script>
   </body>
</html>